.drag-obj-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.chimera {
  display: none;
}
.chimera_goat {
  position: absolute;
  bottom: 15%;
  right: 20%;
}
.chimera_lion {
  position: absolute;
  top: 10%;
  left: 5%;
}
.chimera_snake {
  position: absolute;
  left: 50%;
  top: 10%;
}

.draggable {
  cursor: pointer;
}

.hide {
  display: none;
}
