/* FONTS */

@font-face {
  font-family: Radiotechnika; /* Гарнитура шрифта */
  src: url("assets/font/Radiotechnika.otf"); /* Путь к файлу со шрифтом */
}
@font-face {
}

/* Обнуление CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Обнуление закончилось :) */

/*Wrapper для правильного заданного отображения блоков на странице */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #1a1a1d;
  color: #000;
  font-family: "Radiotechnika";
}

a {
  color: #fff;
}

li:hover {
  color: #c3073f;
}
li:active {
  color: #6f2232;
}
a:visited {
  color: #fff;
}
a:hover {
  box-shadow: 0px 5px 15px #c3073f;
}

/* HEADER */
header {
  background-color: #1a1a1d;
  height: 220px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.logotype {
  margin: 10px 15%;
  display: inline-block;

  height: 100px;
  width: 80px;
  border-radius: 50% 50% 40% 40% / 50% 50% 20% 20%;
  border: 5px solid black;
  background: #fff;

  position: relative;
}
.logotype::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
}
.logotype::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
}

/* NAVIGATION */
nav {
  height: 100px;
  z-index: 1;
}
nav ul {
  display: flex;
}
nav a {
  height: 100px;
  border: 1px solid #000;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav a li {
  align-self: center;
}

/* MAIN */
main {
  background-color: #383838;
  flex-grow: 1;
}

/* FOOTER */
footer {
  color: #fff;
  position: relative;
  background-color: #1a1a1d;
  height: 250px;
  font-size: 20px;
}
footer p {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer img {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* OTHER */
hr {
  border-top: 3px double #6f2232;
  color: #6f2232;
}

.movie-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  align-items: center;
}
.movie {
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #1a1a1d;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}
.movie-discription {
  font-size: 1.5em;
  line-height: 1.5em;
}
.movie-discription h2 {
  letter-spacing: 0.5em;
  font-size: 2em;
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

/* MEDIA */

/* todo: Доделать адаптивность сайта и изображений на главной*/

/* Стили для устройств с маленьким экраном, размерами 768px - 991px (планшеты и подобные) */
@media (min-width: 768px) {
}
/* Стили для ноутбуков и компьютеров с экранами в диапазоне 992px - 1199px */
@media (min-width: 992px) {
  .wrapper {
    margin: auto;
    width: 50%;
  }
  .movie__discription h2 {
    font-size: 30px;
  }
  .movie__discription p {
    margin-top: 2em;
    font-size: 50px;
    line-height: 20px;
    font-size: 10px;
  }
  h2 {
    text-align: center;
  }
}
/* Стили для устройств с большой шириной экрана >1281px */
@media (min-width: 1281px) {
  .wrapper {
    margin: auto;
    width: 75%;
  }
  header {
    font-size: 20px;
  }
  h2 {
    text-align: center;
  }
}
