/* Обнуление CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Обнуление закончилось :) */

/*Wrapper для правильного заданного отображения блоков на странице */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #1a1a1d;
  color: #000;
  font-family: "Radiotechnika";
}
a {
  color: #fff;

  font-family: "Slime";
}
a:hover {
  box-shadow: 0px 5px 15px #c3073f;
}

/*! не изменяется цвет текста при наведении*/

a li:hover {
  color: #c3073f;
}
a li:active {
  color: #6f2232;
}
a:visited {
  color: #fff;
}

/* HEADER */
header {
  background-color: #1a1a1d;
  height: 220px;
  font-size: 35px;

  z-index: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.logotype {
  margin: 10px 15%;
  display: inline-block;

  height: 100px;
  width: 80px;
  border-radius: 50% 50% 40% 40% / 50% 50% 20% 20%;
  border: 5px solid black;
  background: #fff;

  position: relative;
}
.logotype::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
}
.logotype::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
}

/* NAVIGATION */
nav {
  height: 100px;
  z-index: 1;
}
nav ul {
  display: flex;
}
nav a {
  height: 100px;
  border: 1px solid #000;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav a li {
  align-self: center;
}

/* MAIN */
main {
  flex-grow: 1;
  background-color: #383838;
}

/* FOOTER */
footer {
  position: relative;
  background-color: #1a1a1d;
  height: 250px;
  font-size: 30px;
}
footer p {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer img {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* OTHER */
hr {
  border-top: 3px double #6f2232;
  color: #6f2232;
}

.movie-container {
  display: flex;
  gap: 50px;
  padding: 50px;
  align-items: center;
}
.movie {
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #1a1a1d;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}
.movie__discription h2 {
  font-size: 50px;
}
.movie__discription p {
  line-height: 50px;
  margin-top: 3em;
  font-size: 25px;
}

.text-center {
  text-align: center;
}

/* FONT */

@font-face {
  font-family: "Slime";
  src: url("/font/Lethal\ Slime.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Radiotechnika";
  src: url(/font/Radiotechnika.otf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
