/* Обнуление CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Обнуление закончилось :) */

/*Wrapper для правильного заданного отображения блоков на странице */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #1a1a1d;
  color: #fff;
}
a:active {
  color: #c3073f;
}
a:visited {
  color: #fff;
}

/* HEADER */
header {
  background-color: #1a1a1d;
  height: 220px;
  font-size: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.logotype {
  margin: 10px 15%;
  display: inline-block;
  width: 100px;
  height: 100px;

  background: #c3073f;
}

/* NAVIGATION */
nav {
  height: 100px;
}
nav ul {
  display: flex;
}
nav a {
  height: 100px;
  border: 1px solid #000;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav a li {
  align-self: center;
}

/* MAIN */
main {
  flex-grow: 1;
  background-color: #383838;
}

/* FOOTER */
footer {
  background-color: #1a1a1d;
  height: 450px;
  font-size: 30px;
}
footer p {
  margin-top: 1em;
}

.movie-container {
  display: flex;
  gap: 50px;
  padding: 50px;
  align-items: center;
}
.movie {
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #1a1a1d;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}

.movie__discription h2 {
  font-size: 50px;
}
.movie__discription p {
  line-height: 50px;
  margin-top: 3em;
  font-size: 25px;
}

.text-center {
  text-align: center;
}
